<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header class="site">
            <h1>{{ site.title }}{% if site.subtitle %} <small>{{ site.subtitle }}</small>{% endif %}</h1>
            <nav>
                <ul>
                    <li><a href="{{ site.url }}">Home</a></li>
                    <li><a href="{{ site.url }}/blog">Posts Archive</a></li>
                    <li><a href="{{ site.url }}/blog/tags">Tags</a></li>
                </ul>
            </nav>
        </header>
        <div class="mainContent">
            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
        </div>
        <footer>
        </footer>
    </body>
    {% if site.google_analytics_tracking_id %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}
</html>
