{% extends "default" %}
{% block content_wrapper %}
    <article>
        <header>
            <h2>{{ page.title }} <small>post</small></h2>
        </header>
        <div>
            {{ page.blocks.content|raw }}
        </div>
        {% if page.categories %}
            <p class="categories">
            Categories:
            {% for category in page.categories %}
            <a href="{{ site.url }}/blog/categories/{{ category }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
        {% if page.tags %}
            <p class="tags">
            Tags:
            {% for tag in page.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
    </article>
{% endblock %}
