* { -moz-box-sizing: border-box; box-sizing: border-box; }

h1 small,h2 small,h3 small,h4 small
{
    font-size: 50%;
    color: #888;
}

header.site ul {
    list-style: none;
    padding-left: 0;
}
header.site ul li {
    display: inline-block;
    margin-right: .25em;
}
header.site ul li a {
    padding: .25em .5em;
    background-color: #ccc;
    border: 1px solid #888;
}
