---
layout: default
generator: [posts_tag_index, pagination]
pagination:
    provider: page.tag_posts
    max_per_page: 10
---
<h1>{{ page.tag|capitalize }}</h1>
<ul>
    {% for post in page.pagination.items %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<nav>
    {% if page.pagination.previous_page or page.pagination.next_page %}
    {% if page.pagination.previous_page %}
    <a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>
    {% endif %}
    {% if page.pagination.next_page %}
    <a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>
    {% endif %}
    {% endif %}
</nav>