---
layout: default
title: Home
use:
    - posts
---
{% for post in data.posts %}
    <article>
        <header>
            <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <div>
            {{ post.blocks.content|raw }}
        </div>
        {% if post.meta.tags %}
            <p class="tags">
            Tags:
            {% for tag in post.meta.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
    </article>
{% endfor %}
