---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 4
use:
- posts
---

<p class="bg-gray-100 p-8 mb-4 font-light italic">Hi, I'm [insert name here]. Thanks for visiting my blog!</p>

{% for post in page.pagination.items %}
    <article class="pt-6">
        <header>
            <h2 class="font-bold text-xl pb-2 uppercase">
                <a href="{{ site.url }}{{ post.url }}" class="text-blue-700">{{ post.title }}</a>
            </h2>
        </header>
        <div>
            {{ post.blocks.content|raw }}
        </div>
        <p class="published_date pb-1"><strong>Published:</strong> <em>{{page.date|date('F j, Y')}}</em></p>
        {% if post.meta.tags %}
        <p>
            <strong>Tags:</strong>
            {% for tag in post.meta.tags %}
            <a href="{{ site.url }}/posts/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% endif %}
    </article>
{% endfor %}